/* example.module.css */
.readMore {
    display: flex;
    justify-content: center;
}

.titre {
    margin: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
    background-repeat: repeat;
    background-size: "cover";
    background-color: #F6CDEA;
}