.container {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.overlay {
    display: flex;
    background: linear-gradient(270deg, transparent, #000);
}

.playArea {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.playArea iframe {
    border: none;
}